@use '../util/' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-kumbh);
  background-image: url(/images/bg-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;

  @include breakpoint(large) {
    background-image: url(/images/bg-desktop.png);
    background-size: 100%;
  }
}
